@font-face {
  font-family: 'keyboard';
  src:  url('fonts/keyboard.eot?jya2p2');
  src:  url('fonts/keyboard.eot?jya2p2#iefix') format('embedded-opentype'),
    url('fonts/keyboard.ttf?jya2p2') format('truetype'),
    url('fonts/keyboard.woff?jya2p2') format('woff'),
    url('fonts/keyboard.svg?jya2p2#keyboard') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-keyboard-"], [class*=" i-keyboard-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'keyboard' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-keyboard-icon:before {
  content: "\e901";
  color: #005675;
}
