@font-face {
  font-family: 'triangular';
  src:  url('fonts/triangular.eot?fp9qxu');
  src:  url('fonts/triangular.eot?fp9qxu#iefix') format('embedded-opentype'),
    url('fonts/triangular.ttf?fp9qxu') format('truetype'),
    url('fonts/triangular.woff?fp9qxu') format('woff'),
    url('fonts/triangular.svg?fp9qxu#triangular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-triangular-"], [class*=" i-triangular-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'triangular' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-triangular-icon:before {
  content: "\e900";
}
