.font-12 {
    font-size: 0.75rem;
}

.font-14 {
    font-size: 0.875rem;
}

.font-16 {
    font-size: 1rem;
}

.font-18 {
    font-size: 1.125rem !important;
}

.font-20 {
    font-size: 1.25rem !important;
}

.font-22 {
    font-size: 1.375rem;
}

.font-24 {
    font-size: 1.5rem;
}

.font-28 {
    font-size: 1.75rem;
}

.font-32 {
    font-size: 2rem;
}

.font-48 {
    font-size: 3rem;
    line-height: 3.9375rem;
}

.white-text {
    color: $white;
}

.black-text {
    color: $text-1;
}

.grey-text {
    color: $text-2;
}

.blue-text {
    color: $blue;
}

.bold { 
    font-weight: bold;
}

.normal { 
    font-weight: normal !important;
}

.red-text{
    color:$red !important;
}
