.m-inline-start-5 {
    margin-inline-start: 2rem;
}


.m-inline-start-3 {
    margin-inline-start: 1rem;
}

.m-inline-start-2 {
    margin-inline-start: 0.5rem;
}

.m-inline-end-2 {
    margin-inline-end: 0.5rem;
}

.m-inline-end-3 {
    margin-inline-end: 1rem;
}

.m-inline-end-1 {
    margin-inline-end: 0.25rem;
}

.m-inline-start-1 {
    margin-inline-start: 0.25rem;
}
//padding


.p-inline-start-1 {
    padding-inline-start: 0.25rem;
}

.p-inline-start-2 {
    padding-inline-start: 0.5rem;
}

.p-inline-start-3 {
    padding-inline-start: 1rem;
}


.p-inline-end-1 {
    padding-inline-end: 0.25rem;
}

.p-inline-end-2 {
    padding-inline-end: 0.5rem;
}

.p-inline-end-3 {
    padding-inline-end: 1rem;
}

.m-inline-start-auto {
    margin-inline-start: auto;
}


.m-inline-end-auto {
    margin-inline-end: auto;
}