@font-face {
  font-family: 'print';
  src:  url('fonts/print.eot?nxqeyk');
  src:  url('fonts/print.eot?nxqeyk#iefix') format('embedded-opentype'),
    url('fonts/print.ttf?nxqeyk') format('truetype'),
    url('fonts/print.woff?nxqeyk') format('woff'),
    url('fonts/print.svg?nxqeyk#print') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-print-"], [class*=" i-print-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'print' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-print-icon:before {
  content: "\e901";
  color: #005675;
}
