.graph-image {
    background: #fcfdfe 0% 0% no-repeat padding-box;
    border: 1px solid #dadada;
    border-radius: 5px;
    object-fit: contain;
}


.p-image-preview-container {
    height: 100%;
    width: 100%;
}