@import "../../../css/globals-files/variables.scss";

.p-inputgroup-addon:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-left: 0.75rem;
}

.p-inputgroup-addon:last-child {
    border-right: none;
}

.p-inputgroup-addon {
    background: $white !important;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    padding: 0.5rem 0.5rem;
    min-width: 2rem;
}

.p-inputgroup input:first-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}