@import "../../globals-files/variables.scss";


.p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none;
}

.p-inputswitch .p-inputswitch-slider {
    border-radius: 1rem;
    border: 1px solid $blue;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: $yellow;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background-color: $blue;
}

.p-inputswitch .p-inputswitch-slider:before {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    left: 0;
    margin-top: -0.75rem;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: $yellow;
}

.p-inputswitch-slider {
    direction: 'rtl';
    height: 1.5rem;
    width: 3rem;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(1.5rem);
}

.p-inputswitch .p-inputswitch-slider:before {
    background-color: $blue;
}