@import "../../../css/globals-files/variables.scss";
.languages-menu {
    margin-top: 12.5px !important;
    margin-left: -22px !important;
    width: 6rem;
}

.rtl-generic-menu {
    left: unset !important;
    right: 0 !important;
    top: calc(100% + 2px) !important
}

.ltr-generic-menu {
    right: unset !important;
    left: 0 !important;
    top: calc(100% + 2px) !important
}

.p-menu.p-menu-overlay{
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    border-radius: 8px;

    &::before {
        content: unset !important;
    }
}
.p-menu .p-menuitem-link .p-menuitem-text{
    color: $blue;
}

a.p-menuitem-link {
    text-decoration: none !important;
  }


ul.p-menu-list {
    padding-left: 0;
}