 .p-multiselect {
    background-color: $white;
    border-radius: 0;
}

 .p-multiselect:not(.p-disabled):hover {
    background-color: $white;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-inline-end: 0.5rem;
    margin-inline-start: 0 !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    inset-inline-end: 0.75rem;
    inset-inline-start: unset !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-inline-end: 1.75rem !important;
    padding-inline-start: 0.75rem !important;
 }

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    border-radius: 12px;
    background-color: $grey;
    margin-inline: 0.25rem;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    flex-direction: row-reverse;
    color: $text-1;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background-color: $grey;
    color: $text-1;
    font-size: 0.875rem;
}

.p-multiselect-panel {
    .p-highlight .p-checkbox .p-checkbox-box {
        border-color: $blue;
        background-color: $blue;
    }
}

 .p-multiselect-header {
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: $blue;
        background-color: $blue;
    }
 }

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: none;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding-inline-start: 0.25rem !important;
    padding-inline-end: 0.5rem !important;
    padding-block: 0 !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-token-icon {
    margin-inline-end: 0.5rem;
    margin-inline-start: 0;
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding-block: 0.5rem;
}

.p-multiselect .p-multiselect-label{
    padding-block: 0.5rem;
}

.p-multiselect {
    border-color: $grey;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $blue !important;
}

p-multiselect.ng-dirty.ng-invalid>.p-multiselect {
    border-color: #e24c4c;
}